<div class="container-fluid " id="about">
    <div class="row ">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="main-heading text-center">About us</h1>
            <p class="para text-center">Grow your business with us</p>
            <div class="row">
                <div class="col-md-6 col-12 d-flex justify-content-center flex-column">

                    <figure>
                        <img src="images/boy.webp" alt="" srcset="">


                    </figure>

                </div>
                <div class="col-md-6 col-12  d-flex justify-content-center flex-column ">

                    
                    <p class="para fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, quasi! Praesentium corporis labore quam libero perspiciatis iure dolore illo, distinctio sed dicta similique saepe iste eum cum error minus iusto!
                    Optio magni blanditiis exercitationem est magnam autem suscipit hic nemo non dolor, sed voluptatibus quaerat similique quae animi amet? Vero iure sequi reprehenderit ea perferendis facilis cupiditate laudantium debitis saepe.
                        
                        
                        </p>
                    <div class="btns"> <button class="btn btn-primary">Contact</button>

                    </div>

                </div>

            </div>









        </div>

    </div>


</div>