<div class="container-fluid " id="contact">
    <div class="row ">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="main-heading text-center">contact us</h1>
            <p class="para text-center">Grow your business with us</p>
            <div class="row">



                <div class="col-md-6 mx-auto">

                    <form action="/contact" method="POST">

                         <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">name</label>
                            <input type="text" class="form-control" id="name"
                                aria-describedby="emailHelp" name="name">
                         
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" name="email">
                            
                        </div>
                         <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">phone</label>
                            <input type="number" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" name="phone">
                            
                        </div>
                         <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">message</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" name="msg">
                            
                        </div>
                       
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>



                </div>




            </div>









        </div>

    </div>


</div>