<div class="container-fluid " id="services">
    <div class="row ">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="main-heading text-center">
                our servieces
            </h1>
            <p class="para text-center">Grow your business with us</p>
            <div class="row gy-3">
                <div class="col-md-3">




                    <div class="card">
                        <h5 class="card-header">figure1</h5>
                        <div class="card-body">
                            <h5 class="card-title">html</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">




                    <div class="card">
                        <h5 class="card-header">figure2</h5>
                        <div class="card-body">
                            <h5 class="card-title">css</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">




                    <div class="card">
                        <h5 class="card-header">figure3</h5>
                        <div class="card-body">
                            <h5 class="card-title">javascript</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">




                    <div class="card">
                        <h5 class="card-header">figure4</h5>
                        <div class="card-body">
                            <h5 class="card-title">bootsrap</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">




                    <div class="card">
                        <h5 class="card-header">figure5</h5>
                        <div class="card-body">
                            <h5 class="card-title">react</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">




                    <div class="card">
                        <h5 class="card-header">figure6</h5>
                        <div class="card-body">
                            <h5 class="card-title">node js</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">




                    <div class="card">
                        <h5 class="card-header">figure7</h5>
                        <div class="card-body">
                            <h5 class="card-title">express js</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div> <div class="col-md-3">




                    <div class="card">
                        <h5 class="card-header">figure8</h5>
                        <div class="card-body">
                            <h5 class="card-title">mongodb</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>


            </div>









        </div>

    </div>


</div>